WcfService/Connected Services/PriMiddleService/MemberInfoService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MemberInfoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/Member/MemberInfoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/Member/MemberInfoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/Member/MemberInfoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" />
      <xsd:import schemaLocation="http://localhost:8088/Member/MemberInfoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" />
      <xsd:import schemaLocation="http://localhost:8088/Member/MemberInfoService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8088/Member/MemberInfoService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Member" />
      <xsd:import schemaLocation="http://localhost:8088/Member/MemberInfoService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.Sleep_wowbill" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMemberInfoService_MemberInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberInfo" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberInfoGeneral_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberInfoGeneral" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberInfoGeneral_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberInfoGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberInfoCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberInfoCompany" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberInfoCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberInfoCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_PasswordValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:PasswordValidation" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_PasswordValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:PasswordValidationResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_IsNickNameDuplicated_InputMessage">
    <wsdl:part name="parameters" element="tns:IsNickNameDuplicated" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_IsNickNameDuplicated_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsNickNameDuplicatedResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberSaveGeneral_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberSaveGeneral" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberSaveGeneral_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberSaveGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberSaveCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberSaveCompany" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberSaveCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberSaveCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberNameChange_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberNameChange" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberNameChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberNameChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetKakaoUserInfoExists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKakaoUserInfoExists" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetKakaoUserInfoExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKakaoUserInfoExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetFacebookUserInfoExists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFacebookUserInfoExists" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetFacebookUserInfoExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacebookUserInfoExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetNaverUserInfoExists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNaverUserInfoExists" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetNaverUserInfoExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNaverUserInfoExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetKakaoUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKakaoUserInfo" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetKakaoUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKakaoUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetFacebookUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFacebookUserInfo" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetFacebookUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacebookUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetNaverUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNaverUserInfo" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetNaverUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNaverUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberPasswordChange_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberPasswordChange" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberPasswordChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberPasswordChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberPasswordDelay_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberPasswordDelay" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberPasswordDelay_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberPasswordDelayResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberAgreementOption2Change_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberAgreementOption2Change" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberAgreementOption2Change_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberAgreementOption2ChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberSecessionCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberSecessionCheck" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberSecessionCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberSecessionCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberSecession_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberSecession" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_MemberSecession_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberSecessionResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_PasswordConfirm_InputMessage">
    <wsdl:part name="parameters" element="tns:PasswordConfirm" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_PasswordConfirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:PasswordConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetMemberGrade_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberGrade" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetMemberGrade_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberGradeResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetTvReplayAuthorityInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTvReplayAuthorityInfo" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetTvReplayAuthorityInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTvReplayAuthorityInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_TvReplayPaymentByPoint_InputMessage">
    <wsdl:part name="parameters" element="tns:TvReplayPaymentByPoint" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_TvReplayPaymentByPoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:TvReplayPaymentByPointResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetMemberInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberInfo" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetMemberInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetDormancyMemberInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDormancyMemberInfo" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetDormancyMemberInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDormancyMemberInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetUserDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetail" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetUserDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetUserSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserSMS" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_GetUserSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserSMSResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_UserIdExists_InputMessage">
    <wsdl:part name="parameters" element="tns:UserIdExists" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_UserIdExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserIdExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_ChangeSmsAdAggrement_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeSmsAdAggrement" />
  </wsdl:message>
  <wsdl:message name="IMemberInfoService_ChangeSmsAdAggrement_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeSmsAdAggrementResponse" />
  </wsdl:message>
  <wsdl:portType name="IMemberInfoService">
    <wsdl:operation name="MemberInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/MemberInfo" message="tns:IMemberInfoService_MemberInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/MemberInfoResponse" message="tns:IMemberInfoService_MemberInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberInfoGeneral">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/MemberInfoGeneral" message="tns:IMemberInfoService_MemberInfoGeneral_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/MemberInfoGeneralResponse" message="tns:IMemberInfoService_MemberInfoGeneral_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberInfoCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/MemberInfoCompany" message="tns:IMemberInfoService_MemberInfoCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/MemberInfoCompanyResponse" message="tns:IMemberInfoService_MemberInfoCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PasswordValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/PasswordValidation" message="tns:IMemberInfoService_PasswordValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/PasswordValidationResponse" message="tns:IMemberInfoService_PasswordValidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsNickNameDuplicated">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/IsNickNameDuplicated" message="tns:IMemberInfoService_IsNickNameDuplicated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/IsNickNameDuplicatedResponse" message="tns:IMemberInfoService_IsNickNameDuplicated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberSaveGeneral">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/MemberSaveGeneral" message="tns:IMemberInfoService_MemberSaveGeneral_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/MemberSaveGeneralResponse" message="tns:IMemberInfoService_MemberSaveGeneral_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberSaveCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/MemberSaveCompany" message="tns:IMemberInfoService_MemberSaveCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/MemberSaveCompanyResponse" message="tns:IMemberInfoService_MemberSaveCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberNameChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/MemberNameChange" message="tns:IMemberInfoService_MemberNameChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/MemberNameChangeResponse" message="tns:IMemberInfoService_MemberNameChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKakaoUserInfoExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/GetKakaoUserInfoExists" message="tns:IMemberInfoService_GetKakaoUserInfoExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/GetKakaoUserInfoExistsResponse" message="tns:IMemberInfoService_GetKakaoUserInfoExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacebookUserInfoExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/GetFacebookUserInfoExists" message="tns:IMemberInfoService_GetFacebookUserInfoExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/GetFacebookUserInfoExistsResponse" message="tns:IMemberInfoService_GetFacebookUserInfoExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNaverUserInfoExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/GetNaverUserInfoExists" message="tns:IMemberInfoService_GetNaverUserInfoExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/GetNaverUserInfoExistsResponse" message="tns:IMemberInfoService_GetNaverUserInfoExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKakaoUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/GetKakaoUserInfo" message="tns:IMemberInfoService_GetKakaoUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/GetKakaoUserInfoResponse" message="tns:IMemberInfoService_GetKakaoUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacebookUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/GetFacebookUserInfo" message="tns:IMemberInfoService_GetFacebookUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/GetFacebookUserInfoResponse" message="tns:IMemberInfoService_GetFacebookUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNaverUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/GetNaverUserInfo" message="tns:IMemberInfoService_GetNaverUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/GetNaverUserInfoResponse" message="tns:IMemberInfoService_GetNaverUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberPasswordChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/MemberPasswordChange" message="tns:IMemberInfoService_MemberPasswordChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/MemberPasswordChangeResponse" message="tns:IMemberInfoService_MemberPasswordChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberPasswordDelay">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/MemberPasswordDelay" message="tns:IMemberInfoService_MemberPasswordDelay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/MemberPasswordDelayResponse" message="tns:IMemberInfoService_MemberPasswordDelay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberAgreementOption2Change">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/MemberAgreementOption2Change" message="tns:IMemberInfoService_MemberAgreementOption2Change_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/MemberAgreementOption2ChangeResponse" message="tns:IMemberInfoService_MemberAgreementOption2Change_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberSecessionCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/MemberSecessionCheck" message="tns:IMemberInfoService_MemberSecessionCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/MemberSecessionCheckResponse" message="tns:IMemberInfoService_MemberSecessionCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberSecession">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/MemberSecession" message="tns:IMemberInfoService_MemberSecession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/MemberSecessionResponse" message="tns:IMemberInfoService_MemberSecession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PasswordConfirm">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/PasswordConfirm" message="tns:IMemberInfoService_PasswordConfirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/PasswordConfirmResponse" message="tns:IMemberInfoService_PasswordConfirm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberGrade">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/GetMemberGrade" message="tns:IMemberInfoService_GetMemberGrade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/GetMemberGradeResponse" message="tns:IMemberInfoService_GetMemberGrade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTvReplayAuthorityInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/GetTvReplayAuthorityInfo" message="tns:IMemberInfoService_GetTvReplayAuthorityInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/GetTvReplayAuthorityInfoResponse" message="tns:IMemberInfoService_GetTvReplayAuthorityInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TvReplayPaymentByPoint">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/TvReplayPaymentByPoint" message="tns:IMemberInfoService_TvReplayPaymentByPoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/TvReplayPaymentByPointResponse" message="tns:IMemberInfoService_TvReplayPaymentByPoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/GetMemberInfo" message="tns:IMemberInfoService_GetMemberInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/GetMemberInfoResponse" message="tns:IMemberInfoService_GetMemberInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDormancyMemberInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/GetDormancyMemberInfo" message="tns:IMemberInfoService_GetDormancyMemberInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/GetDormancyMemberInfoResponse" message="tns:IMemberInfoService_GetDormancyMemberInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/GetUserDetail" message="tns:IMemberInfoService_GetUserDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/GetUserDetailResponse" message="tns:IMemberInfoService_GetUserDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/GetUserSMS" message="tns:IMemberInfoService_GetUserSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/GetUserSMSResponse" message="tns:IMemberInfoService_GetUserSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserIdExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/UserIdExists" message="tns:IMemberInfoService_UserIdExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/UserIdExistsResponse" message="tns:IMemberInfoService_UserIdExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeSmsAdAggrement">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberInfoService/ChangeSmsAdAggrement" message="tns:IMemberInfoService_ChangeSmsAdAggrement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberInfoService/ChangeSmsAdAggrementResponse" message="tns:IMemberInfoService_ChangeSmsAdAggrement_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMemberInfoService" type="tns:IMemberInfoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MemberInfo">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/MemberInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberInfoGeneral">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/MemberInfoGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberInfoCompany">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/MemberInfoCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordValidation">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/PasswordValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNickNameDuplicated">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/IsNickNameDuplicated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberSaveGeneral">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/MemberSaveGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberSaveCompany">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/MemberSaveCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberNameChange">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/MemberNameChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKakaoUserInfoExists">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/GetKakaoUserInfoExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookUserInfoExists">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/GetFacebookUserInfoExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNaverUserInfoExists">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/GetNaverUserInfoExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKakaoUserInfo">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/GetKakaoUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookUserInfo">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/GetFacebookUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNaverUserInfo">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/GetNaverUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberPasswordChange">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/MemberPasswordChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberPasswordDelay">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/MemberPasswordDelay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberAgreementOption2Change">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/MemberAgreementOption2Change" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberSecessionCheck">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/MemberSecessionCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberSecession">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/MemberSecession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordConfirm">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/PasswordConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberGrade">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/GetMemberGrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTvReplayAuthorityInfo">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/GetTvReplayAuthorityInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TvReplayPaymentByPoint">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/TvReplayPaymentByPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberInfo">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/GetMemberInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDormancyMemberInfo">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/GetDormancyMemberInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetail">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/GetUserDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserSMS">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/GetUserSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIdExists">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/UserIdExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeSmsAdAggrement">
      <soap:operation soapAction="http://tempuri.org/IMemberInfoService/ChangeSmsAdAggrement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberInfoService">
    <wsdl:port name="BasicHttpBinding_IMemberInfoService" binding="tns:BasicHttpBinding_IMemberInfoService">
      <soap:address location="http://localhost:8088/Member/MemberInfoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>