WcfService/Connected Services/PriMiddleService/MemberInfoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.111.51/Member/MemberInfoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" />
  <xs:import schemaLocation="http://192.168.111.51/Member/MemberInfoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" />
  <xs:import schemaLocation="http://192.168.111.51/Member/MemberInfoService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Member" />
  <xs:element name="MemberInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="MemberInfoResult" nillable="true" type="q1:MemberInfoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberInfoGeneral">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberInfoGeneralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="MemberInfoGeneralResult" nillable="true" type="q2:MemberInfoGeneralResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberInfoCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberInfoCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="MemberInfoCompanyResult" nillable="true" type="q3:MemberInfoCompanyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordValidation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordValidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PasswordValidationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNickNameDuplicated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNickNameDuplicatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsNickNameDuplicatedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberSaveGeneral">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="request" nillable="true" type="q4:SaveUserRequestGeneral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberSaveGeneralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="MemberSaveGeneralResult" nillable="true" type="q5:SaveUserResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberSaveCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="request" nillable="true" type="q6:SaveUserRequestCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberSaveCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="MemberSaveCompanyResult" nillable="true" type="q7:SaveUserResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberNameChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
        <xs:element minOccurs="0" name="requestNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encryptedData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberNameChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="MemberNameChangeResult" nillable="true" type="q8:NameChangeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKakaoUserInfoExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="kakaoId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKakaoUserInfoExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" minOccurs="0" name="GetKakaoUserInfoExistsResult" nillable="true" type="q9:tblUserSNSKakao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacebookUserInfoExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="facebookId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacebookUserInfoExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" minOccurs="0" name="GetFacebookUserInfoExistsResult" nillable="true" type="q10:tblUserSNSFacebook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNaverUserInfoExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="naverId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNaverUserInfoExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" minOccurs="0" name="GetNaverUserInfoExistsResult" nillable="true" type="q11:tblUserSNSNaver" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKakaoUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKakaoUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" minOccurs="0" name="GetKakaoUserInfoResult" nillable="true" type="q12:tblUserSNSKakao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacebookUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacebookUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" minOccurs="0" name="GetFacebookUserInfoResult" nillable="true" type="q13:tblUserSNSFacebook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNaverUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNaverUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" minOccurs="0" name="GetNaverUserInfoResult" nillable="true" type="q14:tblUserSNSNaver" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberPasswordChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
        <xs:element minOccurs="0" name="passwordOriginal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordNew" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordConfirm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberPasswordChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="MemberPasswordChangeResult" nillable="true" type="q15:PasswordChangeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberAgreementOption2Change">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
        <xs:element minOccurs="0" name="option2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberAgreementOption2ChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="MemberAgreementOption2ChangeResult" nillable="true" type="q16:AgreementOption2ChangeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberSecessionCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberSecessionCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="MemberSecessionCheckResult" nillable="true" type="q17:MemberSecessionCheckResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberSecession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
        <xs:element minOccurs="0" name="secessionReasonKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secessionReasonDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberSecessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="MemberSecessionResult" nillable="true" type="q18:MemberSecessionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordConfirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordConfirmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PasswordConfirmResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberGrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberGradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Member" minOccurs="0" name="GetMemberGradeResult" type="q19:MemberGradeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTvReplayAuthorityInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTvReplayAuthorityInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Member" minOccurs="0" name="GetTvReplayAuthorityInfoResult" nillable="true" type="q20:TvReplayAuthorityInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TvReplayPaymentByPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TvReplayPaymentByPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Member" minOccurs="0" name="TvReplayPaymentByPointResult" nillable="true" type="q21:TvReplayPaymentByPointModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" minOccurs="0" name="GetMemberInfoResult" nillable="true" type="q22:tblUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" minOccurs="0" name="GetUserDetailResult" nillable="true" type="q23:tblUserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" minOccurs="0" name="GetUserSMSResult" nillable="true" type="q24:tblUserSMS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>