Wow.Tv.Middle/Wow.Tv.Middle.WcfService/Connected Services/PriMiddleService/MemberInfoService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.Sleep_wowbill" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.Sleep_wowbill" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="bak_tblUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accumulatePointBalance" type="xs:int" />
      <xs:element minOccurs="0" name="adminId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apply" type="xs:boolean" />
      <xs:element minOccurs="0" name="club" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="companyDetailId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fusiblePointBalance" type="xs:int" />
      <xs:element minOccurs="0" name="isEmailOk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isSendEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="isSendSMS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="longTermUncollectedCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="option1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="option2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="passwordConfirmAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="passwordConfirmId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="pointToWowCashBalance" type="xs:int" />
      <xs:element minOccurs="0" name="registDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ssno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userGradeId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userNumber" type="xs:int" />
      <xs:element minOccurs="0" name="userSectionId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="userTypeId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="wowCashBalance" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="bak_tblUser" nillable="true" type="tns:bak_tblUser" />
</xs:schema>