WcfService/Connected Services/PrivateMyPageService/PrivateMyPageService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.MyInfo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.MyInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Member/PrivateMyPageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:complexType name="CashCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="END_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EventBalance" type="xs:decimal" />
          <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="START_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SearchText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nBalance" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CashCondition" nillable="true" type="tns:CashCondition" />
  <xs:complexType name="BillBalance">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventBalance" type="xs:double" />
      <xs:element minOccurs="0" name="nBalance" type="xs:double" />
      <xs:element minOccurs="0" name="sb_cashbonus" type="xs:double" />
      <xs:element minOccurs="0" name="sb_cashreal" type="xs:double" />
      <xs:element minOccurs="0" name="sb_mileage" type="xs:double" />
      <xs:element minOccurs="0" name="sb_regdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="sb_tincashbonus" type="xs:double" />
      <xs:element minOccurs="0" name="sb_tincashreal" type="xs:double" />
      <xs:element minOccurs="0" name="sb_tinmileage" type="xs:double" />
      <xs:element minOccurs="0" name="sb_toutcashbonus" type="xs:double" />
      <xs:element minOccurs="0" name="sb_toutcashreal" type="xs:double" />
      <xs:element minOccurs="0" name="sb_toutmileage" type="xs:double" />
      <xs:element minOccurs="0" name="sb_userno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillBalance" nillable="true" type="tns:BillBalance" />
</xs:schema>