Wow.Tv.Middle/Wow.Tv.Middle.WcfService/Connected Services/PrivateMyPageService/PrivateMyPageService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="USP_GetMYCurrentCash_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="charge_cash" type="xs:int" />
      <xs:element minOccurs="0" name="use_cash" type="xs:int" />
      <xs:element minOccurs="0" name="wowCashBalance" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USP_GetMYCurrentCash_Result" nillable="true" type="tns:USP_GetMYCurrentCash_Result" />
</xs:schema>